body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.favButton {
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

.favButton:hover {
  background-color: rgba(195, 111, 8, 0.295);
}


h1 {
  text-align: center;
  margin: 0;
  padding: 1rem;
}

h2 {
  margin: 0px;
  padding: 1rem;
  text-align: center;
}

nav {
  display: flex;
  padding: 1.5rem 8rem;
  background-color: #eee;
  justify-content: space-between;
  align-items: center;
}


main {
  min-height: calc(100vh - 73px - 117px)
}

a {
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}

a:hover {
  color: rgb(136, 136, 136);
}

footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 1.5rem 8rem;
  position: relative;
  bottom: 0;
  height: 40px;
}

footer>img {
  width: 200px;
  margin: 0;
}

footer>p {
  margin: 0;
  padding-top: 0.7rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

.card {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
  margin-bottom: 25px;
}

.card>img {
  width: 100%;
}

.card:hover {
  border: 0.5px solid rgb(134, 29, 29);
}

.card-grid {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  border: 1px solid #ccc;

}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark tr:nth-child(even) {
  background-color: #a60c0c;
}

.dark {
  background-color: #12121296;
  color: white;
}

.dark a {
  color: white;
}

nav.dark {
  background-color: #1f1d1d;
  color: white;
}

.dark footer {
  background-color: #1f1d1d;
  color: white;
}

h5 {
  margin: 4px
}

p {
  margin: 4px;
}

.logos img {
  height: 40px;
  filter: invert(1);
}

.dark .logos img {
  height: 40px;
  filter: invert(0);
}

.backTop {
  background-color: #a60c0c;
  padding: 0.5rem;
  text-align: center;
  cursor: pointer;
}

.dark .backTop {
  color: #ccc;
}

.dark .logoDh {
  filter: invert(1);
}